- name: Update apt cache
apt:
update_cache: yes


- name: Install common packages
apt:
name:
- git
- docker.io
- openjdk-11-jre
state: present


- name: Ensure docker service running
service:
name: docker
state: started
enabled: yes
