apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: flask-app
  namespace: argocd
spec:
  destination:
    namespace: ivolve
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://github.com/Engyasminatef999/CloudDevOpsProject.git
    path: kubernetes
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

